body {
    margin-top: 0px;
    margin-bottom: 0px;
    width:auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #131516;;
    color: #d8d4cf;
}

header {
    width: 70%;
}

#titulo-principal, section {
    
}