body {
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #2f4373;
    color: #e1f1fd;
}

header, main{
    width: 70%;
    border-left: 1px solid grey;
    padding-left: 5px;
}

#titulo-principal, section {
    
}

a:link {
    text-decoration: none;
}



#link-manoel-info {
    font-weight: bolder;
    color: #e1f1fd;
}

#link-manoel-info:hover {
    color: crimson;
}

#secao-vitimas {
   display:flex;
   flex-flow: column wrap;
}

#tabela-vitimas {
    border: 1px solid black;
    border-collapse: collapse;
}

#tabela-vitimas tr {
    width: 100%;
}

#tabela-vitimas th {
    background-color:crimson;
    border: 1px solid black;
}

#tabela-vitimas td {
    border: 1px solid black;
}